:root {
    --content-div-height: 100vh;
    --body-bg: #131516;
    --big-card-bg-color: #222831;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bg);
    color: #EEEEEE;
    /* background: linear-gradient(to left, #e66465, #9198e5);
    color: #131516; */
    
    font-size: 16px;

    /* overflow: hidden; */
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* **************Navigation Menu************** */

nav {

    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    z-index: 100;
    /* min-width: 100lvw; */
}

nav div {
    margin: 0 0.9em;
}

nav div ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 400px) {
    nav div.links ul {
        flex-wrap: wrap;
    }
}

nav div:first-of-type a{
    color: #EEE;
    text-decoration: none;
    font-family: 'Satisfy', cursive, Helvetica, sans-serif;
    font-size: 1.7em;
}

nav li {
    list-style: none;
    margin: 8px;
    /* display: inline-block; */
}

nav li a {
    display: block;
    border-radius: 20px;
    color: #EEE;
    text-decoration: none;
}


nav a:hover {
    color: #cdcdcd;
}

nav .links {
    float: right;
}


.dropdwn-btn{
    display: none;
    text-decoration: none;
    color: white;
}




@media screen and (max-width: 600px) {

    .dropdwn-btn{
        display: block;
    }

    nav .links ul {
        display: none;
    }

    .responsive-navbar .links ul {
        position: absolute;
        top: 2.2em;
        left: 0;

        display: flex;
        flex-direction: column;
        width: 100%;

        justify-content: center;

        background-color: #000;
    }

    .responsive-navbar .links ul li {
        display: block;
    }


    
    /* .responsive-navbar .links ul {
        position: absolute;
        display: block;
        width: 100vh;

        top: 2em;
        left: 0;
        text-align: center;
        clear: left;
    } */

    /* .responsive-navbar .links ul > li:not(:last-of-type) {
        position: absolute;
        left: 0;
        top: 100px;
        display: block;
        width: 100%;
    } */

    /* .responsive-navbar .navigation */

    /* .responsive-navbar .links ul {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    } */
    
    /* .responsive-navbar .links ul li:last-of-type {
        left: 0;
        display: block;
    } */

}


/* ************** Sections ************** */

section {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


/* LANDING */

.entry {
    text-align: center;
    font-family: 'Satisfy', cursive, Helvetica, sans-serif;
    font-size: 2em;
}

section h1 {
    font-family: 'Satisfy', cursive, Helvetica, sans-serif;
}


/* ABOUT */

#dp {
    height: 10em;
    width: 10em;
    margin-bottom: 2em;
    border-radius: 50%;
}

.big-card {
    display: flex;
    flex-direction: column;
    background-color: var(--big-card-bg-color);
    border-radius: 2em;

    justify-content: center;

}


.about-content {
    display: grid;

    grid-template-areas: 
    "info vr exp"
    "info vr exp";

    grid-template-columns: 1fr 1px 1fr;
    gap: 2em;
}


.about-info {
    grid-area: "info";
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.vr {
    grid-area: "vr";
}

.hd {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0 2em 0;
    text-wrap: nowrap;
}

.about-exp {
    grid-area: "exp";
}

.about-exp ul li {
    list-style-type: none;
}

.about-exp ul li p:nth-of-type(1) {
    opacity: 0.7;
}

.about-item:nth-of-type(1) {
    padding-left: 1.4em;
}
.about-item:nth-of-type(2) {
    padding-right: 1.4em;
}



@media screen and (max-width: 650px) {

    .big-card {
        background-color: var(--body-bg);
    }

    .about-content {
        grid-template-areas:
        "info"
        "exp";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .vr {
        display: none;
    }
    
}

/* Pojects */


.cards {
    display: grid;

    grid-template-areas: "p1 p2 p3";
}

a.card:nth-of-type(1) {
    grid-area: "p1";

    background-image: url("images/lab.png");
    background-size: 100%;
    background-repeat: no-repeat;
    filter:opacity(0.1);
    filter: brightness(0.7);
}

a.card:nth-of-type(2) {
    grid-area: "p2";
    color: white;

    background: url(images/social.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter:opacity(0.1);
    filter: brightness(0.7);
}

a.card:nth-of-type(3) {
    grid-area: "p3";
}

.project-container h1 {
    padding-bottom: 2em;
}


.card-c {
    margin: 20px;
    width: 21em;
    height: 21em;
}

.card-c:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.cards > .card-c {
    bottom: 0;
    text-decoration: none;
}

.project-thumbnail {
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .cards {
        grid-template-areas:  "p1 p2";
    }
    
    .card:nth-of-type(3) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-areas:  
        "p1"
        "p2"
        "p3";
    }

    .card {
        max-width: 15em;
        max-height: 15em;
    }

    .card:nth-of-type(3) {
        display: block;
    }
}



/* Contact */


.contact-content {
    display: flex;
    flex-direction: column; 
}

.contact-content h1 {
    padding-bottom: 2em;
}

.contacts {
    display: grid;
    text-align: center;

    gap: 1.3em;

    grid-template-areas: "c1 c2 c3";
}


.contacts a:nth-of-type(1) {
    grid-area: "c1";
}

.contacts a:nth-of-type(2) {
    grid-area: "c2";
}

.contacts a:nth-of-type(3) {
    grid-area: "c3";
}


.contacts a{
    border: 2px solid white;
    border-radius: 5%;
    width: 10em;
    height: 10em;
    max-width: 10em;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin: 0 auto;
}

.contacts a:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.contact {
    margin-right: 5em;
    text-decoration: none;
    color: white;
}




@media (max-width: 600px) {

    .contacts {
        grid-template-areas: 
        "c1"
        "c2"
        "c3";
    }

}
